@page "/Schedule"

    <div class="col-12 scheduleTitle row m-1">
        <span class="oi oi-caret-left col-2 weekNavigator" @onclick="@previousWeekArrowClicked"></span>
        <h1 class="col-8 weekTitle"><strong>Week @weekDisplay </strong></h1>
        <span class="oi oi-caret-right col-2 weekNavigator" @onclick="@nextWeekArrowClicked"></span>

        <div class="col-5 text-center font-weight-bolder scheduleHeaders">Home</div>
        <div class="col-2 text-center font-weight-bolder scheduleHeaders">Game Info</div>
        <div class="col-5 text-center font-weight-bolder scheduleHeaders">Away</div>
        
        @if (@weekSelection < @weeks.Count)
        {
            @foreach (var item in @weeks[@weekSelection].weekGames)
            {
                //Make a div for the home team
                <ScheduleGame logoImgSrc="@item.homeTeam.logoImgSrc" location="home" game=@item.gameNum wins="@item.homeTeam.wins" losses="@item.homeTeam.losses" ID="@item.homeTeam.ID" teamNameImgSrc="@item.homeTeam.teamNameImgSrc" />

                //Make a div for the spread and DateTime
                <div class="col-2 align-self-center font-weight-bolder teampick">
                    <div class="spread">@item.spread</div>
                    <div class="datetime"> @DateTime.Today.ToString("dddd, MMMM dd") <br /> @@ @DateTime.Now.ToString("h:mm tt")</div>
                </div>                

                //Make a div for the away team
                <ScheduleGame logoImgSrc="@item.awayTeam.logoImgSrc" location="away" game=@item.gameNum wins="@item.awayTeam.wins" losses="@item.awayTeam.losses" ID="@item.awayTeam.ID" teamNameImgSrc="@item.awayTeam.teamNameImgSrc" />

            }
        }
    </div>
    

@*ADD IN A POST FORM STICKY BAR COMPONENT!*@

@*Build a dynamic grid style based on the number of games*@
<ScheduleStyle/>

@code
{
    //Set weekSelection to 0, because it will access a zero-based list collection
    private int weekSelection = 0;

    //Set the default week to 1  **change this to be current week in the future**
    private int weekDisplay = 1;

    //Increment the weekSelection and weekDisplay variables if it's less than Week 17 (base zero)
    private void nextWeekArrowClicked()
    {
        if (weekSelection < weeks.Count)
        {
            weekSelection += 1;
            weekDisplay += 1;

            //Add a method to reset/recall pick selections when moving to a different week
        }
    }

    //Decrement the weekSelection variable if it's greater than Week 1 (base zero)
    private void previousWeekArrowClicked()
    {
        if (weekSelection > 0)
        {
            weekSelection -= 1;
            weekDisplay -= 1;

            //Add a method to reset/recall pick selections when moving to a different week
        }
    }

    //*** Select all home or away games ***  NEEDS REVISION ***
    //private bool homeCheck;
    //private bool awayCheck;

    //private void allHome()
    //{
    //    homeCheck = !homeCheck;
    //}

    //private void allAway()
    //{
    //    awayCheck = !awayCheck;
    //}



    //Locally bind the data for Week 1 games

    public List<Game> week1Games = new List<Game>()
{
                new Game
                {
                    gameNum = 1,
                    homeTeam =new Team {ID = "BUF", wins=10, losses=5},
                    awayTeam = new Team { ID = "NE", wins=12, losses=3},
                    spread = 3.5
                },
                new Game
                {
                    gameNum = 2,
                    homeTeam = new Team { ID = "ATL", wins=6, losses=9},
                    awayTeam = new Team { ID = "CAR", wins=5,losses=10},
                    spread = -7.0
                },
                new Game
                {
                    gameNum = 3,
                    homeTeam = new Team { ID = "BAL", wins=13, losses=2},
                    awayTeam = new Team { ID = "NO", wins=7, losses=8},
                    spread = 0.5
                },
                new Game
                {
                    gameNum = 4,
                    homeTeam = new Team {ID = "TEN", wins=8, losses=7},
                    awayTeam = new Team {ID = "HOU", wins=10, losses=5},
                    spread = 4.5
                },
                new Game
                {
                    gameNum =5,
                    homeTeam = new Team {ID= "SF", wins=12, losses=3},
                    awayTeam = new Team {ID = "SEA", wins=12, losses=3},
                    spread = 3.5
                }
    };

    //Locally bind the data for Week 2 games
    public List<Game> week2Games = new List<Game>()
{
                new Game
                {
                    gameNum = 1,
                    homeTeam =new Team {ID = "CHI", wins=7, losses=8},
                    awayTeam = new Team { ID = "MIN", wins=10, losses=5},
                    spread = -1.0
                },
                new Game
                {
                    gameNum = 2,
                    homeTeam = new Team{ ID = "PHI", wins=8, losses=7},
                    awayTeam = new Team { ID = "NYG", wins=5,losses=10},
                    spread = 4.5
                },
                new Game
                {
                    gameNum = 3,
                    homeTeam = new Team{ ID = "BAL", wins=13, losses=2},
                    awayTeam = new Team{ ID = "NO", wins=7, losses=8},
                    spread = 0.5
                }
    };

    //Instantiate a new List object to store the different weeks of game data
    private List<Week> weeks = new List<Week>();

    //Load the week data when the page [component] is initialized
    protected override void OnInitialized()
    {
        //weekSelection is a zero-based List; need to +1 to display 'Week 1' instead of 'Week 0'
        weekDisplay = weekSelection + 1;

        //Instantiate a new week, setting its week number and the List<Games> instance associated with it
        //This will be turned into a class method
        Week week1 = new Week()
        {
            weekNumber = 1,
            weekGames = week1Games
        };

        Week week2 = new Week()
        {
            weekNumber = 2,
            weekGames = week2Games
        };

        //Add the week to the list of weeks
        //This will be turned into a class method
        weeks.Add(week1);
        weeks.Add(week2);
    }

}